*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/clouds.jpg);
    background-size: cover;
    background-position: center;
}
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .instagram {
        width: 2rem;
    }

    .Twitter {
        width: 3.4rem;
    }

    .grid-container > .header > a > img:hover { /*Rotacion iconos */
        transition: all 1s ease;
        transform: rotateZ(360deg);
    }

    .grid-container > section { /*Centrado y espaciado header, menu y parrafo*/
        text-align: center;
        padding: 1rem;  
    }

    .header {
        grid-column: 1 / -1;
        background-image: url(img/palms.jpg);
        color: white;
        font-size: 3rem;
        border-radius: 1rem;
    }

    .menu {
        grid-column: 1 / -1;
        display: flex;
        background-color: lightgreen;
        justify-content: space-around;
        border-radius: 1rem;
    }

    .text {
        grid-column: 1 / -1;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: khaki;
        border-radius: 1rem;
    }

    .grid-container > article > section > h1 { /* Aplicacion de fuente a titulos de los lugares */
        font-size: 1.5rem;
        font-family: Garamond;
    }
    
    .grid-container > article > section > a > .grid-img { /*Aplicacion de sombreado a img internas*/
        border-radius: 20%;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 20);
    }
    
    .grid-container > article > section > a > .grid-img:hover { /*Aplicacion rotacion a img internas*/
        transition: all 1s ease;
        transform: rotateY(360deg);
    }

    article > section { /*Caracteristicas en comun de todas las imagenes internas*/
        grid-column: auto / span 1;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 1rem;
        border-radius: 1rem;
    }

    .Fuji {
        background-image: url(img/montefuji.jpg);
    }

    .Uyuni {
        background-image: url(img/uyuni.jpg);
    }

    .Muralla {
        background-image: url(img/murallachina.jpg);
    }

    .Cataratas {
        background-image: url(img/niagara.jpg);
    }

    .Piramides {
        background-image: url(img/piramides.jpg);
    }

    .Pammukale {
        background-image: url(img/pammukale.jpg);
    }

    .Gruta {
        background-image: url(img/grutaazul.jpg);
        color: blanchedalmond;
    }

    .Canyon {
        background-image: url(img/cañon.jpg);
    }

    .Palacio {
        background-image: url(img/tajmahal.jpg);
    }

    fieldset legend{
        font-size: 1.5rem;
        padding: .2rem;
    }
        
    fieldset {
        grid-column: 1 / -1;  
        background-color: lightpink;
        padding: 1em;
        border-radius: 1rem;
        margin-top: 1em;
    }
        
    label {
        display: block;
        margin: .3rem;
        margin-top: 1rem;
    }
        
    input[type="submit"] {
        float: inline-end;
        background-color: lightskyblue;
        margin-top: 1em;
        padding: 1em;  
    }

    footer {
        grid-column: 1 / -1;
    }

    footer > img {
        width: 10rem;
        animation-name: emirates;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: 5;
        position: relative;
    }
    
    @keyframes emirates {
        from {
            left: 0%;
            top: 0%;   
        }
        to{
            left: 80%;
            top: 0%;
        }
    }    


    @media (min-width: 414px) {
        article {
            display: grid;
            grid-template-columns: 1fr 1fr; 
        }

    
    }

    @media (min-width: 600px) {
        article {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
        }

    
    }



